* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
  color: #f5f5f5;
}

.section {
  height: 350px;
  width: 720px;
  margin: 0 auto;
  display: flex;
}
/* Hero Section */
.hero-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/Memphis-road.jpg");
  background-size: cover;
  color: white;
}

#main-heading {
  background-color: #b40421;
  border-radius: 10px;
  padding: 3px 10px;
  margin-bottom: 10px;
}

#sub-heading {
  background-color: #b40421;
  border-radius: 10px;
  padding: 3px 10px;
}

/* Activity Section */

.activity-section {
  justify-content: space-evenly;
  background-color: #b40421;
}

.a-photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 30px;
}

/* Card Section */

.card-section {
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  width: 400px;
  height: 300px;
  background-color: #b40421;
  border-radius: 20px;
  border-bottom: 5px solid #f5f5f5;
}

#my-picture {
  width: 180px;
  height: 250px;
  border-radius: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
  height: 250px;
}
